body {
  background-color: #ffffff;
  color: #303030c2;
  font-family: Arial;
}

h1 {
  font-size: calc(30px + 2vmin);
}

footer {
  margin-top: auto;
  padding-bottom: 16px;
  padding: 16px 0;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #eeeeee;
}

.FooterAnchor {
  text-decoration: none;
  color: grey;
}

.FooterAnchor:hover {
  text-decoration: underline;
}

.App {
  max-width: vmax;
  margin: 0 auto;
  padding: 0 32px;
  font-size: calc(10px + 2vmin);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex-grow: 1;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
  pointer-events: none;
}

.Button {
  background-color: #303030c2; 
  color: white;
  border-style: solid;
  border-width: 1px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: calc(10px + 2vmin);
  width: 350px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.Button:hover {
  background-color: rgb(67, 144, 196); /* Green */
}

.ButtonStatus{
  color: #303030c2;
  margin-top: 16px;
  padding: 16px 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
